<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.migufun.web.mapper.userLoginMapper">

    <select id="selectUser_Axios" resultType="com.migufun.web.pojo.userInfo">
        select *
        from userinfo
        where username = #{username}
          and password = #{password};
    </select>
    <!--    <select id="selectUser_Axios" resultType="userInfo">-->
    <!--        select *-->
    <!--        from userinfo-->
    <!--        where username = #{username}-->
    <!--          and password = #{password};-->
    <!--    </select>-->
</mapper>